altgraph==0.16.1
blessings==1.7
bpython==0.18
certifi==2019.6.16
chardet==3.0.4
curtsies==0.3.0
future==0.17.1
greenlet==0.4.15
idna==2.8
numpy==1.17.1
pandas==0.25.1
pefile==2019.4.18
Pygments==2.4.2
PyInstaller==3.5
PySocks==1.7.0
pyTelegramBotAPI==3.6.6
python-dateutil==2.8.0
pytz==2019.2
pywin32-ctypes==0.2.0
requests==2.22.0
six==1.12.0
typing==3.7.4.1
urllib3==1.26.5
wcwidth==0.1.7
xlrd==1.2.0
